body {font-family: "vesper libre", "open sans"; 
    line-height: 1.5;
    color: #1a1a1a;
    margin: 0;}
header, footer {background-color: #000; 
    color: #fff;
    align-content: center;
}
img {max-width: 100%;}
.logo {width 100px;
    padding: 8px 0;}
img {width: 100%;
padding: 8px;
}